/*#commentform{*/
    /*font-size:12px;*/
/*}*/
/*#commentform label{width:55px;height:24px;display:block;float:left;background:url(../image/label.png) no-repeat left top;line-height:22px;color:#999;padding-left:18px;}*/
/** html #commentform label{float:none;display:inline;padding:5px 15px 10px 18px;margin-right:10px;vertical-align:middle;}*/
/*#commentform input{height:20px;width:220px;border:1px solid #EEE;padding:4px 4px 0 4px;}*/
/*#commentform p.input:hover label,#commentform p.input:active label,#commentform p.input:focus label{*/
    /*background:url(../image/label.png) no-repeat left -40px;color:#000;*/
/*}*/
/*#commentform input#submit{width:82px;height:24px;background:url(../image/submit.png) no-repeat left top;margin-left:73px;color:#999;border:0 none;line-height:100%;display:block;padding:0;cursor:pointer;}*/
/*#commentform input#submit:hover,#commentform input#submit:active,#commentform input#submit:focus{background:url(../image/submit.png) no-repeat left bottom;color:#000;}*/

/*.button {*/
    /*color: #666;*/
    /*background-color: #EEE;*/
    /*border-color: #EEE;*/
    /*font-weight: 300;*/
    /*font-size: 16px;*/
    /*font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    /*text-decoration: none;*/
    /*text-align: center;*/
    /*line-height: 40px;*/
    /*height: 40px;*/
    /*padding: 0 40px;*/
    /*margin: 0;*/
    /*display: inline-block;*/
    /*appearance: none;*/
    /*cursor: pointer;*/
    /*border: none;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*-webkit-transition-property: all;*/
    /*transition-property: all;*/
    /*-webkit-transition-duration: .3s;*/
    /*transition-duration: .3s;*/
     /*}*/

.filter-text .filter-title {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border: 0;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    cursor: pointer;
}