<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wasu.dao.QunZhuyjMapper" >
  <resultMap id="BaseResultMap" type="com.wasu.model.QunZhuyj" >
    <result column="群主id" property="群主id" jdbcType="BIGINT" />
    <result column="群主姓名" property="群主姓名" jdbcType="VARCHAR" />
    <result column="注册时间" property="注册时间" jdbcType="TIMESTAMP" />
    <result column="发展人id" property="发展人id" jdbcType="BIGINT" />
    <result column="发展人姓名" property="发展人姓名" jdbcType="VARCHAR" />
    <result column="充值数量" property="充值数量" jdbcType="DECIMAL" />
    <result column="被赠送数量" property="被赠送数量" jdbcType="DECIMAL" />
    <result column="调整数量" property="调整数量" jdbcType="DECIMAL" />
    <result column="划拨数量" property="划拨数量" jdbcType="DECIMAL" />
    <result column="代开房消耗量" property="代开房消耗量" jdbcType="DECIMAL" />
    <result column="当前剩余数量" property="当前剩余数量" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    群主id, 群主姓名, 注册时间, 发展人id, 发展人姓名, 充值数量, 被赠送数量, 调整数量, 划拨数量, 代开房消耗量, 当前剩余数量
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wasu.model.QunZhuyjExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from v_qunzhuyj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from v_qunzhuyj where 发展人id =(select id from `sys_user` where code =#{name,jdbcType=VARCHAR})
  </select>
  <delete id="deleteByExample" parameterType="com.wasu.model.QunZhuyjExample" >
    delete from v_qunzhuyj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wasu.model.QunZhuyj" >
    insert into v_qunzhuyj (群主id, 群主姓名, 注册时间, 
      发展人id, 发展人姓名, 充值数量, 
      被赠送数量, 调整数量, 划拨数量, 
      代开房消耗量, 当前剩余数量)
    values (#{群主id,jdbcType=BIGINT}, #{群主姓名,jdbcType=VARCHAR}, #{注册时间,jdbcType=TIMESTAMP}, 
      #{发展人id,jdbcType=BIGINT}, #{发展人姓名,jdbcType=VARCHAR}, #{充值数量,jdbcType=DECIMAL}, 
      #{被赠送数量,jdbcType=DECIMAL}, #{调整数量,jdbcType=DECIMAL}, #{划拨数量,jdbcType=DECIMAL}, 
      #{代开房消耗量,jdbcType=DECIMAL}, #{当前剩余数量,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wasu.model.QunZhuyj" >
    insert into v_qunzhuyj
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="群主id != null" >
        群主id,
      </if>
      <if test="群主姓名 != null" >
        群主姓名,
      </if>
      <if test="注册时间 != null" >
        注册时间,
      </if>
      <if test="发展人id != null" >
        发展人id,
      </if>
      <if test="发展人姓名 != null" >
        发展人姓名,
      </if>
      <if test="充值数量 != null" >
        充值数量,
      </if>
      <if test="被赠送数量 != null" >
        被赠送数量,
      </if>
      <if test="调整数量 != null" >
        调整数量,
      </if>
      <if test="划拨数量 != null" >
        划拨数量,
      </if>
      <if test="代开房消耗量 != null" >
        代开房消耗量,
      </if>
      <if test="当前剩余数量 != null" >
        当前剩余数量,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="群主id != null" >
        #{群主id,jdbcType=BIGINT},
      </if>
      <if test="群主姓名 != null" >
        #{群主姓名,jdbcType=VARCHAR},
      </if>
      <if test="注册时间 != null" >
        #{注册时间,jdbcType=TIMESTAMP},
      </if>
      <if test="发展人id != null" >
        #{发展人id,jdbcType=BIGINT},
      </if>
      <if test="发展人姓名 != null" >
        #{发展人姓名,jdbcType=VARCHAR},
      </if>
      <if test="充值数量 != null" >
        #{充值数量,jdbcType=DECIMAL},
      </if>
      <if test="被赠送数量 != null" >
        #{被赠送数量,jdbcType=DECIMAL},
      </if>
      <if test="调整数量 != null" >
        #{调整数量,jdbcType=DECIMAL},
      </if>
      <if test="划拨数量 != null" >
        #{划拨数量,jdbcType=DECIMAL},
      </if>
      <if test="代开房消耗量 != null" >
        #{代开房消耗量,jdbcType=DECIMAL},
      </if>
      <if test="当前剩余数量 != null" >
        #{当前剩余数量,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wasu.model.QunZhuyjExample" resultType="java.lang.Integer" >
    select count(*) from v_qunzhuyj
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update v_qunzhuyj
    <set >
      <if test="record.群主id != null" >
        群主id = #{record.群主id,jdbcType=BIGINT},
      </if>
      <if test="record.群主姓名 != null" >
        群主姓名 = #{record.群主姓名,jdbcType=VARCHAR},
      </if>
      <if test="record.注册时间 != null" >
        注册时间 = #{record.注册时间,jdbcType=TIMESTAMP},
      </if>
      <if test="record.发展人id != null" >
        发展人id = #{record.发展人id,jdbcType=BIGINT},
      </if>
      <if test="record.发展人姓名 != null" >
        发展人姓名 = #{record.发展人姓名,jdbcType=VARCHAR},
      </if>
      <if test="record.充值数量 != null" >
        充值数量 = #{record.充值数量,jdbcType=DECIMAL},
      </if>
      <if test="record.被赠送数量 != null" >
        被赠送数量 = #{record.被赠送数量,jdbcType=DECIMAL},
      </if>
      <if test="record.调整数量 != null" >
        调整数量 = #{record.调整数量,jdbcType=DECIMAL},
      </if>
      <if test="record.划拨数量 != null" >
        划拨数量 = #{record.划拨数量,jdbcType=DECIMAL},
      </if>
      <if test="record.代开房消耗量 != null" >
        代开房消耗量 = #{record.代开房消耗量,jdbcType=DECIMAL},
      </if>
      <if test="record.当前剩余数量 != null" >
        当前剩余数量 = #{record.当前剩余数量,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update v_qunzhuyj
    set 群主id = #{record.群主id,jdbcType=BIGINT},
      群主姓名 = #{record.群主姓名,jdbcType=VARCHAR},
      注册时间 = #{record.注册时间,jdbcType=TIMESTAMP},
      发展人id = #{record.发展人id,jdbcType=BIGINT},
      发展人姓名 = #{record.发展人姓名,jdbcType=VARCHAR},
      充值数量 = #{record.充值数量,jdbcType=DECIMAL},
      被赠送数量 = #{record.被赠送数量,jdbcType=DECIMAL},
      调整数量 = #{record.调整数量,jdbcType=DECIMAL},
      划拨数量 = #{record.划拨数量,jdbcType=DECIMAL},
      代开房消耗量 = #{record.代开房消耗量,jdbcType=DECIMAL},
      当前剩余数量 = #{record.当前剩余数量,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>