<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wasu.dao.QunZhuyjDetailMapper" >
  <resultMap id="BaseResultMap" type="com.wasu.model.QunZhuyjDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="op_date" property="opDate" jdbcType="DATE" />
    <result column="op_id" property="opId" jdbcType="INTEGER" />
    <result column="op_name" property="opName" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="parent_name" property="parentName" jdbcType="VARCHAR" />
    <result column="trade_num" property="tradeNum" jdbcType="INTEGER" />
    <result column="discount_num" property="discountNum" jdbcType="INTEGER" />
    <result column="adjustment_num" property="adjustmentNum" jdbcType="INTEGER" />
    <result column="transfer_num" property="transferNum" jdbcType="INTEGER" />
    <result column="openroo_num" property="openrooNum" jdbcType="INTEGER" />
    <result column="remaining_num" property="remainingNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, op_date, op_id, op_name, reg_time, parent_id, parent_name, trade_num, discount_num, 
    adjustment_num, transfer_num, openroo_num, remaining_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wasu.model.QunZhuyjDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jt_qunzhuyj_date
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jt_qunzhuyj_date
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jt_qunzhuyj_date
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wasu.model.QunZhuyjDetailExample" >
    delete from jt_qunzhuyj_date
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wasu.model.QunZhuyjDetail" >
    insert into jt_qunzhuyj_date (id, op_date, op_id, 
      op_name, reg_time, parent_id, 
      parent_name, trade_num, discount_num, 
      adjustment_num, transfer_num, openroo_num, 
      remaining_num)
    values (#{id,jdbcType=INTEGER}, #{opDate,jdbcType=DATE}, #{opId,jdbcType=INTEGER}, 
      #{opName,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, #{parentId,jdbcType=INTEGER}, 
      #{parentName,jdbcType=VARCHAR}, #{tradeNum,jdbcType=INTEGER}, #{discountNum,jdbcType=INTEGER}, 
      #{adjustmentNum,jdbcType=INTEGER}, #{transferNum,jdbcType=INTEGER}, #{openrooNum,jdbcType=INTEGER}, 
      #{remainingNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wasu.model.QunZhuyjDetail" >
    insert into jt_qunzhuyj_date
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="opDate != null" >
        op_date,
      </if>
      <if test="opId != null" >
        op_id,
      </if>
      <if test="opName != null" >
        op_name,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="parentName != null" >
        parent_name,
      </if>
      <if test="tradeNum != null" >
        trade_num,
      </if>
      <if test="discountNum != null" >
        discount_num,
      </if>
      <if test="adjustmentNum != null" >
        adjustment_num,
      </if>
      <if test="transferNum != null" >
        transfer_num,
      </if>
      <if test="openrooNum != null" >
        openroo_num,
      </if>
      <if test="remainingNum != null" >
        remaining_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="opDate != null" >
        #{opDate,jdbcType=DATE},
      </if>
      <if test="opId != null" >
        #{opId,jdbcType=INTEGER},
      </if>
      <if test="opName != null" >
        #{opName,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentName != null" >
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="tradeNum != null" >
        #{tradeNum,jdbcType=INTEGER},
      </if>
      <if test="discountNum != null" >
        #{discountNum,jdbcType=INTEGER},
      </if>
      <if test="adjustmentNum != null" >
        #{adjustmentNum,jdbcType=INTEGER},
      </if>
      <if test="transferNum != null" >
        #{transferNum,jdbcType=INTEGER},
      </if>
      <if test="openrooNum != null" >
        #{openrooNum,jdbcType=INTEGER},
      </if>
      <if test="remainingNum != null" >
        #{remainingNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wasu.model.QunZhuyjDetailExample" resultType="java.lang.Integer" >
    select count(*) from jt_qunzhuyj_date
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jt_qunzhuyj_date
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.opDate != null" >
        op_date = #{record.opDate,jdbcType=DATE},
      </if>
      <if test="record.opId != null" >
        op_id = #{record.opId,jdbcType=INTEGER},
      </if>
      <if test="record.opName != null" >
        op_name = #{record.opName,jdbcType=VARCHAR},
      </if>
      <if test="record.regTime != null" >
        reg_time = #{record.regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.parentName != null" >
        parent_name = #{record.parentName,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeNum != null" >
        trade_num = #{record.tradeNum,jdbcType=INTEGER},
      </if>
      <if test="record.discountNum != null" >
        discount_num = #{record.discountNum,jdbcType=INTEGER},
      </if>
      <if test="record.adjustmentNum != null" >
        adjustment_num = #{record.adjustmentNum,jdbcType=INTEGER},
      </if>
      <if test="record.transferNum != null" >
        transfer_num = #{record.transferNum,jdbcType=INTEGER},
      </if>
      <if test="record.openrooNum != null" >
        openroo_num = #{record.openrooNum,jdbcType=INTEGER},
      </if>
      <if test="record.remainingNum != null" >
        remaining_num = #{record.remainingNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jt_qunzhuyj_date
    set id = #{record.id,jdbcType=INTEGER},
      op_date = #{record.opDate,jdbcType=DATE},
      op_id = #{record.opId,jdbcType=INTEGER},
      op_name = #{record.opName,jdbcType=VARCHAR},
      reg_time = #{record.regTime,jdbcType=TIMESTAMP},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      parent_name = #{record.parentName,jdbcType=VARCHAR},
      trade_num = #{record.tradeNum,jdbcType=INTEGER},
      discount_num = #{record.discountNum,jdbcType=INTEGER},
      adjustment_num = #{record.adjustmentNum,jdbcType=INTEGER},
      transfer_num = #{record.transferNum,jdbcType=INTEGER},
      openroo_num = #{record.openrooNum,jdbcType=INTEGER},
      remaining_num = #{record.remainingNum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wasu.model.QunZhuyjDetail" >
    update jt_qunzhuyj_date
    <set >
      <if test="opDate != null" >
        op_date = #{opDate,jdbcType=DATE},
      </if>
      <if test="opId != null" >
        op_id = #{opId,jdbcType=INTEGER},
      </if>
      <if test="opName != null" >
        op_name = #{opName,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentName != null" >
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="tradeNum != null" >
        trade_num = #{tradeNum,jdbcType=INTEGER},
      </if>
      <if test="discountNum != null" >
        discount_num = #{discountNum,jdbcType=INTEGER},
      </if>
      <if test="adjustmentNum != null" >
        adjustment_num = #{adjustmentNum,jdbcType=INTEGER},
      </if>
      <if test="transferNum != null" >
        transfer_num = #{transferNum,jdbcType=INTEGER},
      </if>
      <if test="openrooNum != null" >
        openroo_num = #{openrooNum,jdbcType=INTEGER},
      </if>
      <if test="remainingNum != null" >
        remaining_num = #{remainingNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wasu.model.QunZhuyjDetail" >
    update jt_qunzhuyj_date
    set op_date = #{opDate,jdbcType=DATE},
      op_id = #{opId,jdbcType=INTEGER},
      op_name = #{opName,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      parent_id = #{parentId,jdbcType=INTEGER},
      parent_name = #{parentName,jdbcType=VARCHAR},
      trade_num = #{tradeNum,jdbcType=INTEGER},
      discount_num = #{discountNum,jdbcType=INTEGER},
      adjustment_num = #{adjustmentNum,jdbcType=INTEGER},
      transfer_num = #{transferNum,jdbcType=INTEGER},
      openroo_num = #{openrooNum,jdbcType=INTEGER},
      remaining_num = #{remainingNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>